@import "tailwindcss";

:root {
  --primary: #ff4d6d;
  --primary-hover: #e63956;
  --secondary: #fff0f3;
  --background: #ffffff;
  --text: #1a1a1a;
  --text-light: #6c757d;
  --success: #38b000;
  --danger: #d90429;
}

body {
  background: var(--background);
  color: var(--text);
  font-family: 'Roboto', sans-serif;
}